.videos {
  background-color: #fafafa;
  --mask: radial-gradient(6.57rem at 50% 8.85rem, #000 99%, #0000 101%)
      calc(50% - 6rem) 0/12rem 51% repeat-x,
    radial-gradient(6.57rem at 50% -5.85rem, #0000 99%, #000 101%) 50% 3rem/12rem
      calc(51% - 3rem) repeat-x,
    radial-gradient(6.57rem at 50% calc(100% - 8.85rem), #000 99%, #0000 101%)
      calc(50% - 6rem) 100%/12rem 51% repeat-x,
    radial-gradient(6.57rem at 50% calc(100% + 5.85rem), #0000 99%, #000 101%)
      50% calc(100% - 3rem) / 12rem calc(51% - 3rem) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  height: 90svh;
}

.videosBackgroundImageContainer {
  background-size: 410%;
  background-position-x: center;
  background-position-y: 45%;
}

.videosTitle {
  color: var(--bien-casero-deep-red);
  font-size: 3rem;
  padding-top: 12rem;
  padding-bottom: 2rem;
  text-align: center;
}

.videosContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 3rem;
}

.videosContainer video {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem 0;
}
