@charset "utf-8";

.regular-font {
  font-family: "Roboto", sans-serif;
}

.italic-font {
  font-family: "Merriweather", serif;
}

:root {
  /* Bien Casero Pallete */
  --bien-casero-deep-red: #8f0310;
  --bien-casero-green: #038f82;
}

section {
  margin: 15rem 0;
}

section:nth-of-type(1) {
  margin-top: 0;
}

section:nth-last-of-type(1) {
  margin-bottom: 0;
}

.section-title {
  font-size: 3rem;
}

/* ! Whatsapp button -------------------------------------------------------- */
.whatsapp-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.fa-whatsapp {
  margin-top: 16px;
}

/* ! Header ----------------------------------------------------------------- */

header {
  font-size: 1.7rem;
  overflow: hidden;
  background-color: #fefefe;
  padding-top: 2rem;
  margin-bottom: 5rem;
}

.header-logo-container {
  max-width: 80px;
}

.header-desktop-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-links {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.header-menu-links div {
  padding: 0 2rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.header-menu-links div:hover {
  color: var(--bien-casero-deep-red);
}

/* ! Section Hero Banner */

.hero-banner {
  background-image: url(../img/Hero-banner-background-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80svh;
  display: grid;
  border-bottom-left-radius: 45% 20%;
  border-bottom-right-radius: 45% 20%;
}

.hero-banner-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 3rem;
}

.hero-banner-text {
  font-weight: 600;
  font-size: 2rem;
}

.hero-banner-logo {
  max-width: 600px;
}

.hero-banner-button,
.our-offers-button,
.gluten-free-veggie-business-button,
.about-us-button,
.referral-program-button {
  color: #fff;
  background-color: var(--bien-casero-deep-red);
  padding: 2rem 2.5rem;
  border-radius: 8rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .hero-banner {
    background-position: right;
    padding-top: 100px;
    align-items: start;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }

  .hero-banner-logo {
    width: 400px;
  }
}

@media (max-width: 425px) {
  .hero-banner {
    background-position: right;
    padding-top: 100px;
    align-items: start;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }

  .hero-banner-logo {
    width: 400px;
  }
}

/* ! Section Our Offers Conoce nuestras propuestas */

.our-offers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 5rem;
  padding-top: 5rem;
}

.our-offers-container-1 {
  display: grid;
  grid-template-columns: 95%;
  justify-items: start;
  gap: 2.5rem;
  padding: 5rem 0;
}

.our-offers-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  gap: 2.5rem;
}

.our-offers-container-2 div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 2fr;
  gap: 2.5rem;
}

.our-offers-container-2-title {
  font-weight: 600;
  font-size: 2rem;
}

.our-offers-container-2 img {
  width: 70px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .our-offers-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-image-container {
    display: none;
  }

  .our-offers-container-1 {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-container-2 {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-container-2 div {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 2fr;
    gap: 2.5rem;
    justify-items: center;
  }

  .our-offers-container-2-title {
    font-weight: 600;
    font-size: 2rem;
  }

  .our-offers-container-2 img {
    width: 70px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 50%;
  }
}

@media (max-width: 425px) {
  .our-offers-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-image-container {
    display: none;
  }

  .our-offers-container-1 {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-container-2 {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-container-2 div {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 2fr;
    gap: 2.5rem;
    justify-items: center;
  }

  .our-offers-container-2-title {
    font-weight: 600;
    font-size: 2rem;
  }

  .our-offers-container-2 img {
    width: 70px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 50%;
  }
}

/* ! Section Three Cards */

.three-cards-container {
  height: 60svh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  gap: 4rem;
}

.three-cards-1 {
  background-image: url(../img/avocado-bacon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 0.5rem;
}

.three-cards-2 {
  background-image: url(../img/Pernil-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 0.5rem;
}

.three-cards-3 {
  background-image: url(../img/desserts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 0.5rem;
}

.three-cards-button {
  color: #fff;
  background-color: #91919177;
  padding: 2rem 2.5rem;
  border: 2px solid #fff;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .three-cards-container {
    grid-template-columns: 1fr;
  }

  .three-cards-1 {
    height: 100%;
  }

  .three-cards-2 {
    height: 100%;
  }

  .three-cards-3 {
    height: 100%;
  }
}

@media (max-width: 425px) {
  .three-cards-container {
    grid-template-columns: 1fr;
  }

  .three-cards-1 {
    height: 100%;
  }

  .three-cards-2 {
    height: 100%;
  }

  .three-cards-3 {
    height: 100%;
  }
}

/* ! Section Gluten Free Vegetarian and Business */

.gluten-free-veggie-business-image {
  background-image: url(../img/Background-gluten-free-veggie-business.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90svh;
  /* display: grid; */
}

.gluten-free-veggie-business-container-title {
  color: #fff;
  padding-top: 13rem;
}

.gluten-free-veggie-business-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-top: 6rem;
}

.gluten-free-veggie-business-round-images {
  border-radius: 50%;
  height: 12rem;
  position: relative;
  margin-top: -5rem;
}

.gluten-free-card,
.veggie-card,
.business-box-card {
  background-color: #fff;
  color: #000;
  padding: 1.5rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
}

.gluten-free-veggie-business-cardtitle {
  font-weight: 600;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .gluten-free-veggie-business-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .gluten-free-veggie-business-container {
    grid-template-columns: 1fr;
  }
}

/* ! Section About Us */

.about-us-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-us-text-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr) 2fr;
  justify-items: start;
  align-items: center;
}

.about-us-subtitle {
  font-size: 2rem;
  font-weight: bold;
  color: var(--bien-casero-deep-red);
}

.about-us-image {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: right;
}

.about-us-image img {
  max-width: 450px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .about-us-container {
    grid-template-columns: 1fr;
  }

  .about-us-text-content {
    justify-items: center;
  }
}

@media (max-width: 425px) {
  .about-us-container {
    grid-template-columns: 1fr;
  }

  .about-us-text-content {
    justify-items: center;
  }
}

/* ! Section Customer Reviews */

.customer-reviews-container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  gap: 10rem;
}

.customer-reviews-corner-image img {
  height: 7rem;
}

.customer-reviews-container-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-top: 1rem;
}

.review-card {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.review-card img {
  max-width: 75px;
  border-radius: 100%;
}

.review-card-content {
  display: flex;
  gap: 1rem;
}

.review-card-content span i {
  font-size: 3rem;
  color: var(--bien-casero-deep-red);
}

.review-card-details p {
  font-style: italic;
  margin-bottom: 1rem;
}

.review-card-details h4 {
  text-align: right;
  color: var(--bien-casero-deep-red);
  font-size: 1.5rem;
  font-weight: 600;
}

@media (width < 1200px) {
  .customer-reviews-container {
    gap: 3rem;
  }
}

@media (width < 900px) {
  .customer-reviews-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .customer-reviews-container-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 750px) {
  .customer-reviews-container-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ! Section Referral Program */

.referral-program-container {
  background-image: url(../img/ReferidosWithBackground.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.referral-program-title {
  color: var(--bien-casero-deep-red);
}

.referral-program-elements {
  text-align: center;
  padding: 8rem 0;
}

.referral-program-elements > * {
  padding: 2rem 0;
}

.referral-program-text {
  font-size: 2rem;
}

/* ! Section Frecuent questions */

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.frecuent-questions-title {
  text-align: center;
  color: var(--bien-casero-deep-red);
}

.frecuent-questions-boxes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1.5rem;
  padding-top: 5rem;
}

.question-card {
  width: 100%;
  color: #000;
  padding: 2rem 2.5rem;
  border-radius: 2mm;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.question-card-title {
  font-weight: 600;
  font-size: 0.9em;
}

.questions-icon i {
  color: var(--bien-casero-deep-red);
}

.question-card-answer-text {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out,
    visibility 0s linear 0.8s;
}

.answer__displayed {
  opacity: 1;
  max-height: 1000px;
  visibility: visible;
  transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out,
    visibility 0s linear;
}

.question-and-plus-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

@media (max-width: 768px) {
  .frecuent-questions-boxes-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .frecuent-questions-boxes-container {
    grid-template-columns: 1fr;
  }
}

/* ! Section Contact us */
.contact-us-container {
  background-image: url(../img/footer-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0;
}

.contact-us-elements {
  padding: 7rem 0;
}

.contact-info-boxes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 0 16rem;
}

.contact-info-card {
  text-align: center;
}

.contact-info-card p:first-child {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--bien-casero-deep-red);
}

.contact-us-text {
  text-align: center;
  font-size: 2rem;
}

.icon-social-media-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 3rem 46rem 4rem;
}

.icon-social-media i {
  padding: 1.5rem;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
}

.fa-facebook-f {
  background: #3b5998;
  color: white;
}

.fa-facebook-f:hover {
  background: white;
  color: #3b5998;
  transition: 0.2s;
}

.fa-instagram {
  background: #e1306c;
  color: white;
}

.fa-instagram:hover {
  background: white;
  color: #e1306c;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .contact-info-boxes-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .contact-info-boxes-container {
    grid-template-columns: 1fr;
  }
}

/* ! Footer */
footer {
  background-color: var(--bien-casero-deep-red);
  color: #fff;
  padding: 3rem 0;
}
