@charset "utf-8";

section {
  padding: 5rem 0;
}

.regular-font {
  font-family: "Roboto", sans-serif;
}

.italic-font {
  font-family: "Merriweather", serif;
}

:root {
  /* Bien Casero Pallete */
  --bien-casero-deep-red: #8F0310;
  --bien-casero-green: #038F82;
}

/* ! Header ----------------------------------------------------------------- */

header {
  padding: 3rem 0;
  font-size: 1.7rem;
  overflow: hidden;
}

.header-logo-container {
  background-image: url(../img/Bien-Casero-Color-Transparente-1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-desktop-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-links {
  display: flex;
  align-items: center;
  text-align: center;
}

.header-menu-links div {
  padding: 0 2rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.header-menu-links div:hover {
  color: var(--bien-casero-deep-red);
  font-weight: 500;
}

/* ! Section Hero Banner */

.hero-banner {
  background-image: url(../img/hero-banner-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80svh;
  display: grid;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.hero-banner-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2.5rem;
}

.hero-banner-text {
  font-weight: 600;
  font-size: 2rem;
}

.hero-banner-logo {
  width: 600px;
}

.hero-banner-button,
.our-offers-button,
.gluten-free-veggie-business-button,
.about-us-button,
.referral-program-button {
  color: #fff;
  background-color: var(--bien-casero-deep-red);
  padding: 2rem 2.5rem;
  border-radius: 8rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .hero-banner {
    background-position: right;
    padding-top: 100px;
    align-items: start;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }

  .hero-banner-logo {
    width: 400px;
  }
}

@media (max-width: 425px) {
  .hero-banner {
    background-position: right;
    padding-top: 100px;
    align-items: start;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }

  .hero-banner-logo {
    width: 400px;
  }
}

/* ! Section Our Offers Conoce nuestras propuestas */

.our-offers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 5rem;
}

.our-offers-container-1 {
  display: grid;
  grid-template-columns: 50%;
  justify-items: start;
  gap: 2.5rem;
  padding-bottom: 5rem;
}

.our-offers-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  gap: 2.5rem;
}

.our-offers-container-2 div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 2fr;
  gap: 2.5rem;
}

.our-offers-container-2-title {
  font-weight: 600;
  font-size: 2rem;
}

.our-offers-container-2 img {
  width: 70px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.our-offers-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20%;
}

@media (max-width: 768px) {
  .our-offers-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-image-container {
    display: none;
  }

  .our-offers-container-1 {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-container-2 {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-container-2 div {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 2fr;
    gap: 2.5rem;
    justify-items: center;
  }

  .our-offers-container-2-title {
    font-weight: 600;
    font-size: 2rem;
  }

  .our-offers-container-2 img {
    width: 70px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 50%;
  }
}

@media (max-width: 425px) {
  .our-offers-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-image-container {
    display: none;
  }

  .our-offers-container-1 {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-container-2 {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .our-offers-container-2 div {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 2fr;
    gap: 2.5rem;
    justify-items: center;
  }

  .our-offers-container-2-title {
    font-weight: 600;
    font-size: 2rem;
  }

  .our-offers-container-2 img {
    width: 70px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 50%;
  }
}

/* ! Section Three Cards */

.three-cards-container {
  height: 80svh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  gap: 2rem;
}

.three-cards-1 {
  background-image: url(../img/avocado-bacon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80%;
  position: relative;
  border-radius: 0.5rem;
}

.three-cards-2 {
  background-image: url(../img/pernil-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80%;
  position: relative;
  border-radius: 0.5rem;
}

.three-cards-3 {
  background-image: url(../img/desserts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80%;
  position: relative;
  border-radius: 0.5rem;
}

.three-cards-button {
  color: #fff;
  background-color: #91919177;
  padding: 2rem 2.5rem;
  border: 2px solid #fff;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .three-cards-container {
    grid-template-columns: 1fr;
  }

  .three-cards-1 {
    height: 100%;
  }

  .three-cards-2 {
    height: 100%;
  }

  .three-cards-3 {
    height: 100%;
  }
}

@media (max-width: 425px) {
  .three-cards-container {
    grid-template-columns: 1fr;
  }

  .three-cards-1 {
    height: 100%;
  }

  .three-cards-2 {
    height: 100%;
  }

  .three-cards-3 {
    height: 100%;
  }
}

/* ! Section Gluten Free Vegetarian and Business */

.gluten-free-veggie-business {
  background: linear-gradient(to top, #c07078, #940e1b 100%);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.gluten-free-veggie-business-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2.5rem;
}

.gluten-free-card,
.veggie-card,
.business-box-card {
  background-color: #fff;
  color: #000;
  padding: 2rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2.5rem;
}

.gluten-free-card p:first-child,
.veggie-card p:first-child,
.business-box-card p:first-child {
  font-weight: 600;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .gluten-free-veggie-business-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .gluten-free-veggie-business-container {
    grid-template-columns: 1fr;
  }
}

/* ! Section About Us */

.about-us-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 2.5rem;
}

.about-us-text-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: start;
  align-items: center;
  gap: 2.5rem;
}

.about-us-image {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.about-us-image img {
  width: 350px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .about-us-container {
    grid-template-columns: 1fr;
  }

  .about-us-text-content {
    justify-items: center;
  }
}

@media (max-width: 425px) {
  .about-us-container {
    grid-template-columns: 1fr;
  }

  .about-us-text-content {
    justify-items: center;
  }
}

/* ! Section Customer Reviews */


/* ! Section Referral Program */

.referral-program-container {
  background-image: url(../img/ReferidosWithBackground.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.referral-program-text {
  text-align: center;
  padding: 20rem 0;
}

.referral-program-text>* {
  padding: 2rem 0;
}

/* ! Section Frecuent questions */
.frecuent-questions-text {
  text-align: center;
}

.frecuent-questions-boxes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1.5rem;
}

.question-card {
  color: #000;
  background-color: #f2f2f2;
  padding: 2rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1.5rem;
  border-radius: 2mm;
  width: 95%;
}

.question-card p:first-child {
  font-weight: 600;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .frecuent-questions-boxes-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .frecuent-questions-boxes-container {
    grid-template-columns: 1fr;
  }
}

/* ! Section Contact us (Footer) */
.contact-us-background-image {
  position: absolute;
  width: 85%;
  height: 100%;
  z-index: -1;
}

.contact-us-text {
  text-align: center;
}

.contact-info-boxes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
}

.contact-info-card {
  color: #000;
  background-color: #f2f2f2;
  padding: 2rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
  border-radius: 2mm;
  width: 95%;
}

.contact-info-card p:first-child {
  font-weight: 600;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .contact-info-boxes-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .contact-info-boxes-container {
    grid-template-columns: 1fr;
  }
}