.aboutUsHeroBanner {
  background-image: url(../../public/img/about-us-banner.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100svh;
  display: grid;
}

.aboutUsHeroBannerContainer {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.aboutUsHeroBannerTitle {
  font-size: 5rem;
  font-weight: 600;
}

.aboutUsHeroBannerSubtitle {
  font-size: 2.5rem;
  padding: 2.5rem 0;
}

.aboutUsHeroBannerButton {
  color: #fff;
  background-color: var(--bien-casero-deep-red);
  padding: 1rem 2rem;
  border-radius: 8rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .aboutUsHeroBanner {
    height: 80svh;
  }

  .aboutUsHeroBannerContainer {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }

  .aboutUsHeroBannerTitle {
    font-size: 3rem;
  }

  .aboutUsHeroBannerSubtitle {
    font-size: 1.5rem;
    padding: 1.5rem 0;
  }

  .aboutUsHeroBannerButton {
    padding: 0.5rem 1rem;
  }
}

.videos {
  background-color: #fafafa;
  --mask: radial-gradient(6.57rem at 50% 8.85rem, #000 99%, #0000 101%)
      calc(50% - 6rem) 0/12rem 51% repeat-x,
    radial-gradient(6.57rem at 50% -5.85rem, #0000 99%, #000 101%) 50% 3rem/12rem
      calc(51% - 3rem) repeat-x,
    radial-gradient(6.57rem at 50% calc(100% - 8.85rem), #000 99%, #0000 101%)
      calc(50% - 6rem) 100%/12rem 51% repeat-x,
    radial-gradient(6.57rem at 50% calc(100% + 5.85rem), #0000 99%, #000 101%)
      50% calc(100% - 3rem) / 12rem calc(51% - 3rem) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  height: 90svh;
}

.videosBackgroundImageContainer {
  background-size: 410%;
  background-position-x: center;
  background-position-y: 45%;
}

.videosTitle {
  color: var(--bien-casero-deep-red);
  font-size: 3rem;
  padding-top: 12rem;
  padding-bottom: 2rem;
  text-align: center;
}

.videosContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 3rem;
}

.videosContainer video {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem 0;
}

